<div class="time-series-styles">
  <div class="graph-style">
    <div id="container"></div>
  </div>
  <div class="play-buttons-style">

    <div class="button">
      <div (click)="speedHigh()" class="fas fa-angle-double-right"></div>
    </div>

    <div class="button" *ngIf="playManager.isPause">
      <div (click)="playPause()" class="fas fa-play"></div>
    </div>

    <div class="button" *ngIf="!playManager.isPause">
      <div (click)="playPause()" class="fas fa-pause"></div>
    </div>

    <div class="button">
      <div id="slm" class="fas fa-angle-double-left" (click)="speedLow()"></div>
    </div>

  </div>
</div>
