<div class="time-series-styles">
  <div class="graph-style">
    <div id="container"></div>
  </div>
  <div class="play-buttons-style">
    <div (click)="speedHigh()" class="fas fa-angle-double-right button"></div>

    <div
    *ngIf="playManager.isPause"
    (click)="playPause()"
    class="fas fa-play-circle button"
    ></div>

    <div
    *ngIf="!playManager.isPause"
    (click)="playPause()"
    class="fas fa-pause-circle button"
    ></div>

    <div class="fas fa-angle-double-left button" (click)="speedLow()"></div>
  </div>
</div>
